.sidebar {
  position: fixed;
  width: 200px;
  height: 500px;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.list-topic {
  margin: 1rem 0;
  border-bottom: 1px solid;
}

.list-topic > a {
  color: var(--primary-color);
}

.list-subtopic > li {
  padding: 1rem;
}

.list-subtopic > li > a {
  color: var(--secondary-color);
}

.list-subtopic > li > a:hover {
  font-weight: bold;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.content {
  margin-left: 250px;
  height: 500px;
  width: 65vw;
  position: relative;
  overflow: auto;
  z-index: 1;
}

span {
  color: var(--secondary-color);
}

.wrapper-heading {
  font-size: 1.4rem;
  color: var(--primary-color);
  border-bottom: 1px solid;
  margin: 1rem 0;
}

.wrapper-description {
  line-height: 1.5;
  margin-bottom: 2rem;
}
