<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Rahul Khandelwal" />
    <meta name="description" content="Component library" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/components/avatar/avatar.css" />
    <link rel="stylesheet" href="/components/image/image.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"
      integrity="sha512-i5X6Fdn/ZqvGSqPrdMa3FgcpXM/Nr6YccSKFYT93zljl/HZDEpvBbE5Pxp91eiWGccZLrL/LDQJd7fjTRYsVaA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Images</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="left-nav">
          <a class="brand-name font-bold" href="/index.html">Reusable-UI</a>
        </div>
        <ul class="right-nav list-non-bullet">
          <li class="font-bold">Docs</li>
          <li class="font-bold">Contribute</li>
        </ul>
      </nav>

      <div class="doc-container">
        <div class="sidebar">
          <div class="nested-list1">
            <div class="list-topic font-bold">
              <a href="/Get Started/introduction.html">Get Started</a>
            </div>
            <ul class="list-subtopic list-non-bullet">
              <li>
                <a href="/Get Started/introduction.html">Introduction</a>
              </li>
            </ul>
          </div>

          <div class="nested-list1">
            <div class="list-topic font-bold">
              <a href="#">Components</a>
            </div>
            <ul class="list-subtopic list-non-bullet">
              <li>
                <a href="/components/alert/alert.html">Alert</a>
              </li>
              <li>
                <a href="/components/avatar/avatar.html">Avatar</a>
              </li>
              <li>
                <a href="/components/badge/badge.css">Badge</a>
              </li>
              <li>
                <a href="/components/button/button.html">Button</a>
              </li>
              <li>
                <a href="#">Card</a>
              </li>
              <li>
                <a href="#">Image</a>
              </li>
              <li>
                <a href="#">Input</a>
              </li>
              <li>
                <a href="#">List</a>
              </li>
              <li>
                <a href="#">Toast</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content">
        <h1 class="wrapper-heading font-bold">Responsive Images</h1>
        <div class="description wrapper-description">
          Responsive Image Components are used to dsiplay Images on websites,
          which are screen responsive. They expand upto the width of the
          container they are in.
        </div>

        <h1 class="wrapper-heading font-bold">Square Image</h1>
        <div class="description wrapper-description">
          Square Images are the square shaped, with a default dimension of 150px
          X 150px.
        </div>

        <div class="example-div">
          <div class="component-showcase">
            <img src="/assets/male-avatar.jpg" class="square-img" alt="image" />
            <img
              src="/assets/female-avatar.webp"
              class="square-img"
              alt="image"
            />
          </div>

          <pre>
                <code class="code-snippet">
                     <!-- Using 'square-img' as class name  -->

                    <img src="/assets/male-avatar.jpg" class="square-img" alt="image">
                </code>
            </pre>
        </div>

        <h1 class="wrapper-heading font-bold">Round Image</h1>
        <div class="description wrapper-description">
          Round Images are the circular, with a default dimension of 150px X
          150px.
        </div>

        <div class="example-div">
          <div class="component-showcase">
            <img src="/assets/male-avatar.jpg" class="round-img" alt="image" />
            <img
              src="/assets/female-avatar.webp"
              class="round-img"
              alt="image"
            />
          </div>

          <pre>
                <code class="code-snippet">
                     <!-- Using 'round-img' as class name  -->
                     
                    <img src="/assets/male-avatar.jpg" class="round-img" alt="image">
                </code>
            </pre>
        </div>


          <h1 class="wrapper-heading font-bold">Responsive Image</h1>
          <div class="description wrapper-description">
            Responsive Image is the one that fits to cover the container it is
            present in. Try resizing the browser window.
          </div>

          <div class="example-div">
            <div class="component-showcase">
              <img
                src="/assets/male-avatar.jpg"
                class="responsive-img"
                alt="image"
              />
            </div>

            <pre>
                <code class="code-snippet">
                     <!-- Using 'responsive-img' as class name  -->
                     
                    <img src="/assets/male-avatar.jpg" class="responsive-img" alt="image">
                </code>
            </pre>
          </div>

          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
            integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
          ></script>
          <script>
            hljs.highlightAll();
          </script>
          <script src="/js/codeblock.js"></script>
        </div>
      </div>
    </div>
  </body>
</html>
