.input {
  display: flex;
  flex-direction: column;
}

.input-group {
  color: var(--primary-color);
  font-size: 0.8rem;
  line-height: 20px;
  margin: 0 20px 10px;
  width: 80%;
}

label {
  display: block;
  margin-bottom: 2px;
}

input {
  background: var(--white-color);
  border: 1px solid var(--primary-color);
  padding: 0.6rem 0.7rem;
  float: left;
  font-size: 0.8rem;
  margin: 5px 0;
  width: 25vw;
  transition: 0.3s all ease;
  outline: none;
  border-radius: 2px;
}

.input-group.err label {
  color: var(--dark-red);
}

.input-group.err input {
  border: 1px solid var(--dark-red);
}

.error-message {
  color: var(--dark-red);
}

.radio label,
.checkbox label {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 13px;
}

.radio input,
.checkbox input {
  cursor: pointer;
  margin: 0 10px;
}

.radio.disabled label,
.checkbox.disabled label {
  color: #888;
}

.radio.disabled input,
.checkbox.disabled input {
  cursor: not-allowed;
}
