<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Rahul Khandelwal" />
    <meta name="description" content="Component library" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/components/alert/alert.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"
      integrity="sha512-i5X6Fdn/ZqvGSqPrdMa3FgcpXM/Nr6YccSKFYT93zljl/HZDEpvBbE5Pxp91eiWGccZLrL/LDQJd7fjTRYsVaA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Button</title>
  </head>
  <body>
    <div class="container">
        <nav>
          <div class="left-nav">
            <a class="brand-name font-bold" href="/index.html">Reusable-UI</a>
          </div>
          <ul class="right-nav list-non-bullet">
            <li class="font-bold">Docs</li>
            <li class="font-bold">Contribute</li>
          </ul>
        </nav>
  
        <div class="doc-container">
          <div class="sidebar">
            <div class="nested-list1">
              <div class="list-topic font-bold">
                <a href="/Get Started/introduction.html">Get Started</a>
              </div>
              <ul class="list-subtopic list-non-bullet">
                <li>
                  <a href="/Get Started/introduction.html">Introduction</a>
                </li>
              </ul>
              </div>
  
              <div class="nested-list1">
                  <div class="list-topic font-bold">
                      <a href="#">Components</a>
                  </div>
                  <ul class="list-subtopic list-non-bullet">
                      <li>
                          <a href="/components/alert/alert.html">Alert</a>
                      </li>
                      <li>
                          <a href="/components/avatar/avatar.html">Avatar</a>
                      </li>
                      <li>
                          <a href="#">Badge</a>
                      </li>
                      <li>
                          <a href="/components/button/button.html">Button</a>
                      </li>
                      <li>
                          <a href="#">Card</a>
                      </li>
                      <li>
                          <a href="#">Image</a>
                      </li>
                      <li>
                          <a href="#">Input</a>
                      </li>
                      <li>
                          <a href="#">List</a>
                      </li>
                      <li>
                          <a href="#">Toast</a>
                      </li>
                  </ul>
              </div>
  
            </div>
          </div>
  
          <div class="content">
              <h1 class="wrapper-heading font-bold">Button</h1>
             <div class="description wrapper-description">
              Buttons allow user to take actions, and make choices with a single tap.
             </div> 
  
             <h1 class="wrapper-heading font-bold">Basic Buttons</h1>
             <div class="description wrapper-description">
              You can add the following class btn followed by the variant name like <span> btn-primary </span>, <span> btn-success </span>, <span> danger-warning </span> 
                 or <span> btn-danger </span>.
             </div>
  
        <div class="example-div">

            <div class="component-showcase">
                <button type="button" class="btn btn-primary">Primary</button> 
                <button type="button" class="btn btn-success">Primary</button>
                <button type="button" class="btn btn-danger">Primary</button>
                <button type="button" class="btn btn-warning">Primary</button>
            </div> 

            <pre>
                <code class="code-snippet">
                  <-- Using the btn class followed by the variant name -->
                   
                  <button type="button" class="btn btn-primary">Primary</button> 
                  <button type="button" class="btn btn-success">Primary</button>
                </code>
            </pre>
          </div>
  
        <h1 class="wrapper-heading font-bold">Outline Buttons</h1>
        <div class="description wrapper-description">
            Outline buttons are created by using btn class, followed by outline-variant like <span> btn-outline-primary </span>, <span> btn-outline-success </span>, 
            span> btn-outline-danger </span> or <span> btn-outline-warning </span>.
        </div>
  
        <div class="example-div">

            <div class="componet-showcase">
                <button type="button" class="btn btn-outline-primary">Primary</button> 
                <button type="button" class="btn btn-outline-success">Primary</button>
                <button type="button" class="btn btn-outline-danger">Primary</button>
                <button type="button" class="btn btn-outline-warning">Primary</button>
            </div>  
  
            <pre>
                <code class="code-snippet">
                  <-- Using the btn class followed by the variant name -->

                  <button type="button" class="btn btn-outline-primary">Primary</button> 
                  
                </code>
            </pre>
          </div>
  
  
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js" integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA==" crossorigin="anonymous" referrerpolicy="no-referrer">
            </script>
            <script>
                hljs.highlightAll();
            </script>
            <script src="/js/codeblock.js"></script>
          </div>
        </div>
      </div>
  </body>
</html>
