.component-showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
}

.avatar-sm {
  width: 3rem;
  height: 3rem;
}

.avatar-md {
  width: 4rem;
  height: 4rem;
}

.avatar-lg {
  width: 5rem;
  height: 5rem;
}

.avatar-xl {
  width: 6rem;
  height: 6rem;
}

.square {
  border-radius: 0.3rem;
}
