.slider-container {
  width: 80%;
  border: 1px solid var(--gray-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider {
  width: 100%;
  margin-top: 1rem;
}
.slider-datalist {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
