.navigation-bar {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
  width: 60vw;
}

.left-aligned {
  display: flex;
  justify-content: flex-start;
}

.spaced-around {
  display: flex;
  justify-content: space-between;
}

.navigation-bar .left-nav {
  padding-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .navigation-bar .left-nav {
    padding-right: 0;
  }

  .right-nav {
    flex-direction: column;
  }
}
